nav {
    padding: 10px;
}
/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.theme-switch {
  display: flex;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #CCC1FF
;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #23022E;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider:before {
    background-color: #CCC1FF;
}
input:checked + .slider {
  background-color: #23022E
;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
